/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-weight: 100;
  color: #e6dab2;
  background-color: #2b2b2b;
}

.grumpypost img {
  image-orientation: from-image;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
}
.menu {
  color: #F22;
  margin: 0px;
  padding: 0px;
  padding-inline-start: 0px;
}
.menu-item { 
  display: inline; 
  font-size: 18px; 
  padding-right: 14px; 
}

.menu a { color: #F22; text-decoration: underline; }
.menu-item>li {  }
.menu-item>li>a:link { color: #F22; }
.menu-item>li>a:hover { color: #F22; }
.menu-item>li>a:visited { color: #F22; }
.menu-item>li>a:active { color: #F22; }
.menu>ul { list-style-type: none; }

.grumpypost li { 
  font-size: 14px;
}
.bmc-button {
  font-size: 6px	
}

.silent_link>a:link { color: inherit; text-decoration: none; }
.silent_link>a:hover { color: inherit; text-decoration: none; }
.silent_link>a:visited { color: inherit; text-decoration: none; }
.silent_link>a:active { color: inherit; text-decoration: none; }

a:link { color: #337ab7; text-decoration: none; }
a:hover { color: #337ab7; text-decoration: underline; }
a:visited { color: #337ab7; text-decoration: none; }
a:active { color: #337ab7; text-decoration: none; }

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

.header h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 96px;
  color: #ffb400;
  letter-spacing: -3px;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  font-size: 14px;
}

.footer {
  padding-top: 1.5rem;
  text-align: center;	
  font-size: 50%;
  width: 80%;
}

.alert-success {
  font-size: 150%
  color: #0F0;  
}
.alert-danger {
  font-size: 150%
  color: #F00;  
}

@media (min-width: 48em) {
  .container {
    max-width: 100rem; /* width of content */
  }
}

.grumpypost .date {
  color: #F22;
  padding-top: 8px;
  padding-bottom: 16px;
}

.indent {
	padding-left: 8px;
	margin-left: 8px;
	border-left: 2px solid #888;
	xcolor: #888;
}

.post {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right 0;
  margin: 0 0 0 0;
}

.grumpypost {
  margin-bottom: 8px;
  color: inherit;
  text-align: left;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  line-height: 1.5em;
}
.grumpypost h1, h2, h3
.grumpypost .h1 .h2 .h3 {
  color: #b6b51a;
}
.grumpypost .post-title {
	margin-bottom: 10px;
	font-size: 36px;
  color: #b6b51a;
  line-height: 1em;
}
.grumpypost .post-title a:link { color: inherit; text-decoration: none; }
.grumpypost .post-title a:hover { color: inherit; text-decoration: underline; }
.grumpypost .post-title a:visited { color: inherit; text-decoration: none; }
.grumpypost .post-title a:active { color: inherit; text-decoration: none; }

.grumpypost>p>a:link { color: #337ab7; text-decoration: none; }
.grumpypost>p>a:hover { color: #337ab7; text-decoration: underline; }
.grumpypost>p>a:visited { color: #337ab7; text-decoration: none; }
.grumpypost>p>a:active { color: #337ab7; text-decoration: none; }

.grumpypost p {
  margin-bottom: 20px;
  font-size: 14px;
}

.grumpypost code {
  background-color: #222;
  padding: 4px;
  padding-right: 5px;
  padding-left: 5px;
  color: #0A7;
}

.grumpypost pre {
  font-size: 14px;
  margin: 0;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #222;
  color: #0A7;
  width: 100%;
}

.grumpypost pre>code {
  margin: 0;
  padding: 0; 
}

.add-comment {
	padding-left: 0px;
	padding-top: 20px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.odd {
	xbackground-color: #f8f8f8;
}

.even {
	xbackground-color: #f0f0f0;
}

.comment {
  font-size: 13px;  
}

.comment .date {
  color: #F22;
  padding-top: 4px;
  padding-bottom: 8px;
  text-align: right;
  dispay: inline;
  font-size: 75%;
}
.comment .name {
  font-weight: bold;
  font-size: 120%;
  dispay: inline;
}
.comment .avatar {
  display: table-cell;
  vertical-align: top;
}

.comment .avatar img {
  display: inline;
  padding: 5px;
  padding-right: 15px;
}

.comment-info {
  display: table-cell;
  vertical-align: top;
  width: 100%
}

.comment .text {
  padding-top: 8px;
  line-height: 1.5em;  
}

.mdheader {
}
.mdtext {
    margin-left: 20px;
    font-size: 75%;
}

.grumpypost img {
	image-orientation: from-image;
}
.grumpypost > hr {
  border-top-color: #aaa;
}
.unpublished {
  background-color: #200;
  padding: 15px;
}

.grumpypost .container {
  max-width: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header, .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 2rem;
  }
  .grumpypost {
    border-bottom: 0;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 700px;
  }
  .header h1 {
     margin-bottom: 10px;
     font-size: 72px;
   }
  .header h3 {
     font-size: 12px;
   }
 }

@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }
  .header h1 {
    margin-bottom: 10px;
    font-size: 42px;
  }
  .header h3 {
    font-size: 12px;
  }
  .grumpypost .date { padding-top: 2px; padding-bottom: 2px; }
  .grumpypost .post-title { font-size: 24px; }
  .comment-count { font-size: 16px; }
}

.input-control {
  width: 80%;
  padding: 8px;
  margin: 5px;
  color: #e6dab2;
  background-color: #2b2b2b;
  border: solid 1px;   
  border-color: #e6dab2;
  font-size: 14px;
  font-family: inherit;
}

.input-control-admin {
  width: 100%;
  padding: 8px;
  margin: 5px;
  color: #e6dab2;
  background-color: #2b2b2b;
  border: solid 1px;   
  border-color: #e6dab2;
  font-size: 14px;
  font-family: inherit;
}

.input-control-has-error {
  border-color: #f00;
}

.button {
   padding: 8px;
   margin: 5px;
   color: #e6dab2;
   background-color: #2b2b2b;
   border: solid 1px;   
   border-color: #e6dab2;
   font-size: 14px;
   font-family: inherit;
   cursor: pointer;
   vertical-align: middle;
 }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.h-captcha {
  padding-left:5px;
}
